<h1>Sign_in page ready to get reder</h1>

<form action="/user/create-session"  method="POST">
    <input type="text" name="email" placeholder="Enter the Email" required>
    <input type="password" name="password" placeholder="Enter the Password" required>
    <br><br>
    <button>Sumit</button>
</form>